<!-- the following line is an EJS include. You simply include the path to the file you want to render.
Since includes is in the views folder you can just type 'includes/head.ejs'. -->
<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
    <h1>404 Page Not Found!</h1>
    </main>

    <%- include('includes/end.ejs') %>